// BREAKPOINTS
$mobile-breakpoint: 767px; // This can be adjusted to your preferred mobile breakpoint
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// COLORS
$primary-dark: #323232;
$primary-mid: #AFAFAF;
$primary-light: #FFFFFF;
$primary-blue: #1696f7;
$primary-purple: #6153df;

$secondary-dark: #000000;
$secondary-mid: #E1E1E1;
$secondary-light: #FAFAFA;
$secondary-orange: #f8eac6;

$form-field-error: #D22D2D;

// PADDING/MARGIN INCREMENTS 
$unit-1: .25rem;
$unit-2: .5rem;
$unit-3: 1rem;
$unit-4: 1.5rem;
$unit-5: 2rem;
$unit-6: 2.5rem;
$unit-7: 3rem;
$unit-8: 3.5rem;
$unit-9: 4rem;
$unit-10: 4.5rem;

$before-headline-tablet: 2.25rem;
$after-headline-components-tablet: 1.5rem;

$before-headline-mobile: 1.5rem;
$after-headline-components-mobile: 1rem;

//  FONT WEIGHT 
$bold-weight: 700;
$mid-weight: 600;
$light-weight: 400;

//  FONT SIZE
$page-header-size: 2.0625rem;
$section-header-size: 0.75rem;
$sub-header-size: 0.875rem;
$body-footer-size: .875rem;
$label-button-size: .75rem;

$page-header-size-mobile: 1.5rem;
$section-header-size-mobile: .75rem;
$sub-header-size-mobile: .8125rem;
$body-footer-size-mobile: .8125rem;
$label-button-size-mobile: .625rem;

// FONT LINE HEIGHT 
$page-header-height: 2.75rem;
$section-header-height: 1.25rem;
$sub-header-height: 1.375rem;
$body-copy-height: 1.375rem;
$footer-label-button-height: 1.25rem;

$page-header-height-mobile: 2rem;
$section-header-height-mobile: 1.25rem;
$sub-header-height-mobile: 1.125rem;
$body-copy-height-mobile: 1.125rem;
$footer-label-button-height-mobile: 1.125rem;
 
//  BUTTON 
$button-height: 2.5rem;
$button-min-width-tablet: 9.375rem;
$button-min-padding-tablet: 2rem;
$button-border-radius: .25rem;

// LOGO
$logo-max-height: 1.5625rem;
$logo-max-width: 7.5rem;

// FORM FIELD
$min-form-field-height-tablet: 2.5rem;
$min-form-field-height-mobile: 2.25rem;
$min-form-field-width: 15rem;
$form-field-border-radius: .25rem;
$form-field-padding-tablet: 1rem;
$form-field-padding-mobile:  .75rem;
$form-field-top-margin: .25rem;

// AVATAR
$avatar-max-radius-tablet: 2.5rem;
$avatar-max-radius-mobile: 2.25rem;